/*===KEYFRAMES===*/
@keyframes complete-big {
  0% {
    stroke-dashoffset: 200;
    
  }
  50% {
    stroke-dashoffset: 1100;
    
  }
  100% {
    stroke-dashoffset: 200;
    
  }
}
@keyframes rotate-big {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes complete-small {
  0% {
    stroke-dashoffset: 800;
    
  }
  50% {
    stroke-dashoffset: 100;
    
  }
  100% {
    stroke-dashoffset: 800;
    
  }
}
@keyframes rotate-small {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body{
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 0px;
  box-sizing: border-box;
}

button{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.modal{
  background-color: aliceblue;
  border: solid 2px black;
  border-radius: 15px;
}
#root{
  z-index: 9999999;
}

svg#loading-icon{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}
svg#loading-icon path#loading-circle1{
  fill: transparent;
  stroke: black;
  stroke-width: 3px;
  stroke-dashoffset: 1005;
  stroke-dasharray: 1005; /*1005*/
  transform-origin: 50% 50%;
  animation: complete-small 6s linear infinite, rotate-small 1s linear infinite;
}
svg#loading-icon path#loading-circle2{
  fill: transparent;
  stroke: black;
  stroke-width: 9px;
  stroke-dashoffset: 0;
  stroke-dasharray: 1917;
  transform-origin: 50% 50%;
  animation: complete-big 5s linear infinite, rotate-big 1s linear infinite;
}

div.main-wrapper{
  width: 800px;
  margin: 0 auto;
}